[Desktop Entry]
Encoding=UTF-8
Name=Nanocoin
Comment=Nanocoin P2P Cryptocurrency
Comment[fr]=Nanocoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nanocoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/nanocoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/nanocoin;
Categories=Office;
